// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

$FONT_URL: "../fonts/Nunito-";
// $FONT: "Bold", "ExtraBold", "ExtraLight", "Light", "Regular", "SemiBold";
$fonts: ("Bold": "600", "ExtraBold": "900", "ExtraLight": "100", "Light": "200", "Regular": "400", "SemiBold": "500");
@each $font, $wight in $fonts {
  @font-face {
    font-family: SCA-Font;
    src: url(#{$FONT_URL} + #{$font} + ".ttf") format("truetype");
    font-weight: #{$wight};
    // font-style: normal;
  }
}
